In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.ensemble import RandomForestRegressor

In [15]:
df=pd.read_csv("train.csv")

In [16]:
df.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0

In [17]:
df.isnull().sum()

beds                0
baths               0
size                0
size_units          0
lot_size          347
lot_size_units    347
zip_code            0
price               0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            2016 non-null   int64
 1   baths           2016 non-null   float64
 2   size            2016 non-null   float64
 3   size_units      2016 non-null   object
 4   lot_size        1669 non-null   float64
 5   lot_size_units  1669 non-null   object
 6   zip_code        2016 non-null   int64
 7   price           2016 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 126.1+ KB

In [19]:
df.drop(columns=['lot_size','lot_size_units'],inplace=True)

In [11]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   beds        2016 non-null   int64
 1   baths       2016 non-null   float64
 2   size        2016 non-null   float64
 3   size_units  2016 non-null   object
 4   zip_code    2016 non-null   int64
 5   price       2016 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 94.6+ KB

(2016, 6)

In [20]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [25]:
df['beds'].value_counts()

3     645
2     560
4     398
1     256
5     123
6      22
9       5
7       3
8       2
15      1
14      1
Name: beds, dtype: int64

In [28]:
df.head()

   beds  baths    size size_units  zip_code      price
0     3    2.5  2590.0       sqft     98144   795000.0
1     4    2.0  2240.0       sqft     98106   915000.0
2     4    3.0  2040.0       sqft     98107   950000.0
3     4    3.0  3800.0       sqft     98199  1950000.0
4     2    2.0  1042.0       sqft     98102   950000.0

In [29]:
X=df.drop(['size_units','price'],axis=1)
Y=df['price']

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [31]:
print("X_train:",X_train.shape)
print("Y_train:",Y_train.shape)
print("X_test:",X_test.shape)
print("Y_test:",Y_test.shape)

X_train: (1411, 4)
Y_train: (1411,)
X_test: (605, 4)
Y_test: (605,)

In [35]:
model=RandomForestRegressor()
model.fit(X_train,Y_train)

RandomForestRegressor()

In [36]:
prediction = model.predict(X_test)

In [37]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(Y_test, prediction))
print('MSE:', metrics.mean_squared_error(Y_test, prediction))
print('RMSE:', np.sqrt(metrics.mean_squared_error(Y_test, prediction)))

MAE: 196976.1258176702
MSE: 133284238999.91031
RMSE: 365081.1402961132

In [39]:
test_example={"beds":3,"baths":2,"size":2850,"zip_code":98188}
test_array=pd.DataFrame([test_example]).values
prediction=model.predict(test_array)
print(prediction)

[1015095.]

In [40]:
import pickle
filename='HHPModel.pkl'
pickle.dump(model, open(filename,'wb'))
loaded_model = pickle.load(open('HHPModel.pkl', 'rb'))